/* Universal Selector */
* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-color: #00741d;
  --secondary-color: #ff6022;

  /* Fonts */
  --heading-font: Montserrat, Helvetica, sans-serif;
  --paragraph-font: "DM Sans", Helvetica, sans-serif;
}

/* HTML Selectors */
a {
  text-decoration: none;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--primary-color);
  color: white;
  padding-top: 10px;
}

header h1 {
  margin: auto auto;
  font-size: clamp(0.75rem, 1.5vw, 3rem);
}

header img {
  justify-self: center;
  max-height: fit-content;
  max-width: 46px;
}

nav {
  width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid gray;
  margin: 0.5em 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

p,
footer a {
  font-family: var(--paragraph-font);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--primary-color);
  margin-top: 40px;
  padding: 20px;
  color: white;
  text-align: left;
}

footer a {
  display: block;
  color: white;
  font-size: large;
  padding: 5px;
}

footer a:hover {
  text-decoration: underline;
}

footer p,
h3 {
  margin: 0;
}

dialog {
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 600px;
}

::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

dialog button {
  position: absolute;
  top: 23px;
  right: 23px;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
}

/* Class Selectors */
.card {
  border-top: solid var(--secondary-color) 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0px;
  overflow: hidden;
}

.card a {
  color: blue;
  font-family: var(--paragraph-font);
  display: block;
}

.card-content {
  padding: 20px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.navigation a {
  display: none;
  text-align: center;
  padding: 20px 0px;
  background: black;
  color: white;
}

.navigation a:hover {
  text-decoration: underline;
}

.open a {
  display: block;
}

/* ID Selectors */
#title {
  display: flex;
  gap: 1rem;
  margin: 0 60px 0 20px;
}

#title p {
  font-family: var(--heading-font);
  font-weight: bolder;
  margin: auto 0;
  font-size: clamp(0.75rem, 1.5vw, 3rem);
}

#active::before {
  content: ">";
}

#active::after {
  content: "<";
}

#active {
  color: rgb(255, 255, 0);
}

#content {
  display: grid;
  padding: 0px 16px;
}

#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4px 8px;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  border-radius: 10px;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

#social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#social img {
  display: block;
  width: 4rem;
  height: fit-content;
}

#lastModified {
  color: yellow;
}

/* Home page */
.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hero picture {
  grid-area: 1/1/4/4;
}

.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: solid 4px var(--primary-color);
}

#button-box {
  grid-area: 2/2/4/4;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  padding: 20px 30px;
  background: var(--primary-color);
  text-align: center;
  color: white;
}

#button-box:hover {
  background: var(--secondary-color);
}

#content-home h1 {
  text-align: left;
}

#content-home .card h2,
#content-thankyou .card h2,
#content-discover .card h2 {
  background: var(--secondary-color);
  color: white;
  margin: 0px;
  padding: 8px 16px;
}

#spotlights-grid .card h2 {
  border-bottom: solid 3px var(--secondary-color);
  background: white;
  color: black;
}

#spotlights-grid .card {
  border-radius: 10px;
  border: solid 1px var(--secondary-color);
}

#spotlights-grid .card-content,
#current-weather .card-content {
  display: grid;
  grid-template-columns: 3fr 6fr;
  align-items: center;
  column-gap: 1rem;
  padding: 10px;
}

#spotlights-grid img,
#current-weather img,
#locations-grid img {
  width: 100%;
  height: fit-content;
}

#forecast .card-content section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Directory page */
#content-directory,
#content-home,
#content-join,
#content-thankyou,
#content-discover {
  padding: 0px 10px;
}

.menu {
  padding: 1rem;
  text-align: center;
}

.menu button {
  padding: 1rem;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-gap: 5px 20px;
  justify-content: center;
  align-items: center;
}

.grid section {
  text-align: center;
  padding: 10px;
}

.grid img,
.card.member img {
  background: white;
  height: 200px;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.grid section > * {
  margin: 0.1rem;
}

.list {
  display: flex;
  flex-direction: column;
  border: solid 2px lightgray;
}

.list section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background: white;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none;
}

.list section h3 {
  font-size: 1rem;
}

.list section:nth-child(even) {
  background-color: rgb(215, 250, 255);
}

/* Join page */
.form1 fieldset {
  margin: 2rem 0;
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 3%;
}

.form1 label {
  display: block;
  padding-top: 1rem;
  color: rgb(211, 57, 2);
  font-size: 0.9rem;
}

.form1 div {
  padding-top: 1rem;
  color: var(--primary-color);
  font-size: 0.9rem;
}

.form1 input[type="text"],
.form1 input[type="email"],
.form1 input[type="tel"] {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 400px;
}

.form1 input[type="radio"] {
  margin-right: 6px;
}

.form1 input[type="submit"] {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 6px;
  padding: 0.8rem;
  width: 96%;
  height: 60px;
  margin: -1rem 2% 2rem 2%;
}

.form1 #businessdesc {
  margin: 10px 0px;
  width: 100%;
}

.form1 input:required {
  border-right: solid 8px red;
}

.form1 input:required:valid {
  border-right: solid 8px green;
}

#submit:hover {
  cursor: pointer;
  background: var(--secondary-color);
}

.membership-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  gap: 2rem;
}

.membership-card button,
#locations-grid button {
  padding: 10px 20px;
}

#membership-list {
  animation: slideIn 1s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Thank you page */
#form-results-card {
  margin: 0 auto;
}

#form-results {
  padding: 20px;
}

/* Discover page */
#visits-message {
    padding: 20px;
    border: solid 5px var(--secondary-color);
    margin: 0px auto;
    width: fit-content;
    border-radius: 5px;
}

#locations-grid .card-content {
    display: grid;
    grid-template-areas: 
    "img"
    "desc"
    "loc"
    "button";
}

#locations-grid figure {
    margin: 0px;
    grid-area: img;
}

#locations-grid img {
    margin: 0px auto;
    max-width: 300px;
    display: block;
    text-align: center;
}

#locations-grid p {
    grid-area: desc;
}

#locations-grid address {
    margin: 20px 0px;
    grid-area: loc;
}

#locations-grid button {
    width: 100%;
    border-radius: 20px;
    grid-area: button;
}
